   
    <!-- Content Wrapper. Contains page content -->
    <div  ng-controller="locateSensorCtrl">
       

		<div class="col-md-12 ser-grid">
		
	    <h4>Spatial Analysis of sensor Data</h4>

	    <div id="map" style="width: 100%; height: 250px; border: 1px solid #AAA;"></div>
	    <script type='text/javascript' src='assets/js/plugins/scorecard.js'></script>
	    <script type='text/javascript' src='assets/js/plugins/leaf-demo.js'></script>
	  </div>
  </div>